# Ambiente Virtual
venv/
.venv/

# Arquivos de configuração e segredos
.env
*.env

# Bancos de dados
*.db
*.sqlite
*.db-journal
*.sqlite-journal

# Python (cache)
__pycache__/
*.pyc
*.pyo

# Sessões do Flask
flask_session/

# Arquivos de OS
.DS_Store

# Uploads de Usuário
/uploads/