{% extends 'base.html' %}

{% block title %}Gerenciamento de Usuarios{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <header class="header-bg p-3 d-flex align-items-center position-relative rounded-3">
        <h1 class="main-title mb-0 fs-4 w-100 text-center">Gerenciar Usuarios</h1>
        <div class="d-flex align-items-center position-absolute end-0 top-50 translate-middle-y">
            <a href="{{ url_for(current_dashboard) }}" class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-house me-1"></i> Dashboard
            </a>
        </div>
    </header>
    <main class="p-4">


        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="users-management-content">
            {% include '_manage_users_content.html' %}
        </div>

</div>
{% endblock %}
